html,
body {
    min-width: 1200px;
    font-size: 14px;
    line-height: 26px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    background: #f2f2f2; 
}

.container {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
}

.clearfix::after {
    content: "";
    
    display: table;
    clear: both;
}

.logo {
    position: absolute;
    left: 530px;
    top: 0;
    float: left;
    margin: 0 auto;
    width: 140px;
    z-index: 10;
}

.main-header {
    position: relative;
    /*min-height: 56px;*/
    color: #000000;
    background-color: #ffffff;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.main-navigation li {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 20%;
    min-height: 56px;
    line-height: 56px;
}

.main-navigation li:nth-child(3) {
    margin-left: 20%;
}

.main-navigation li:hover {
    color: #766357;
}

.main-navigation a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif;
    text-align: center;
}

.welcome {
    width: 1200px;
    min-height: 510px;
    background: #355d80 url("../img/background-sedona.jpg") no-repeat center;
    background-position-y: -54px;
    text-align: center;
}

.inscription {
    display: block;
    width: 440px;
    margin: 0 auto;
}

.welcome .img-welcome {
    padding-top: 75px;
    width: 188px;
    height: 45px;
}

.welcome .img-sedona {
    width: 458px;
    height: 78px;
    padding-bottom: 55px;
    padding-top: 55px;
}

.promo {
    width: 1200px;
    min-height: 216px;
    text-align: center;
    background-color: #ffffff;
}

.promo p {
    /*margin-top: 32px;
    margin-bottom: 54px;*/
}

.advantages {
    height: 256px;
}

.advantages-city-discription {
    float: left;
    width: 400px;
    height: 100%; 
    text-align: center;
    background-color: #81b3d2;
    color: #ffffff;
}

.advantages-city-img {
    float: left;
    width: 800px;
    height: 100%; 
}

.comfort {
    min-height: 330px;
    width: 1200px;
    background-color: #ffffff;
}

.comfort-item {
    float: left;
    width: 400px;
    margin-top: 165px;
    margin-bottom: 86px;
    text-align: center;
}

.comfort-item h2 {
    position: relative;
}

.house h2::before {
    content: "";
    background: url("../img/sprite.png") no-repeat center;
    background-position: -10px -175px;
    display: block;
    position: absolute;
    left: 50%;
    margin: 0 0 0 -37px;
    top: -130px;
    width: 74px;
    height: 71px;
}

.food h2::before {
    content: "";
    background: url("../img/sprite.png") no-repeat center;
    background-position: -10px -85px;
    display: block;
    position: absolute;
    left: 50%;
    margin: 0 0 0 -37px;
    top: -130px;
    width: 74px;
    height: 71px;
}

.souvenir h2::before {
    content: "";
    background: url("../img/sprite.png") no-repeat center;
    background-position: -10px -326px;
    display: block;
    position: absolute;
    left: 50%;
    margin: 0 0 0 -33px;
    top: -130px;
    width: 66px;
    height: 76px;
}

.advantages-bridge-img {
    float: left;
    width: 800px;
    height: 100%; 
}

.advantages-bridge-discription {
    float: left;
    width: 400px;
    height: 100%;
    text-align: center;
    background-color: #81b3d2;
    color: #ffffff;
}

.advantages-item {
    float: left;
    width: 400px;
    height: 100%;
    text-align: center;
    background-color: #eeeeee; 
}

.search {
    /*width: 576px;*/
    width: 1200px;
    min-height: 235px;
    text-align: center;
    /*position: relative;*/
    margin: 0 auto;
    background-color: #ffffff;
}

.search-title {
    font-size: 30px;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #000000;
    text-align: center;
}

.search-text {
    color: #000000;
    text-align: center;
    padding-bottom: 52px;
}

.panel {
    display: block;
    margin: 0 auto;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif;
    text-align: center;
    line-height: 88px;
    width: 576px;
    height: 88px;
    background: #766357;
    text-decoration: none;
    color: #ffffff;
}

.form {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif;
    text-align: left;
    width: 576px;
    min-height: 397px;
    background: #ffffff;
    display: none;
}

.data {
    width: 460px;
    min-height: 40px;
    margin: 30px 60px 30px 60px;
}

.data:first-child {
    margin-top: 60px;
}

.date-input{
    width: 349px;
    height: 40px;
    margin-left: auto;
    background: #f2f2f2;
    border: none;
    text-align: left;
    padding-left: 15px;
}

.adults {
    float: left;
    width: 230px;
    min-height: 40px;
    margin-left: 60px;
    text-align: left;
}

.children {
    float: left;
    width: 180px;
    min-height: 40px;
    margin-left: 60px;
    text-align: left;
}

.reservation-minus, .people-number, .reservation-plus {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: #f2f2f2;
    border: none;
}

.reservation-minus a, .reservation-plus a {
    text-decoration: none;
    color: #000000;
    text-align: center;
}

.find {
    width: 460px;
    height: 60px;
    background: #81b3d2;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif;
    text-align: center;
    margin: 60px;
    text-transform: uppercase;
}

.map {
    background: #ffffff url("../img/map.jpg") no-repeat center;
    width: 1200px;
    height: 475px;
}

.main-footer {
    background: #ffffff;
    width: 1200px;
}

.footer-contacts {
    float: left;
    width: 400px;
}

.footer-contacts a {
    color: #000000;
    text-decoration: none;
    font-size: 21px;
    line-height: 85px;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif;
    text-align: center;

}

.footer-contacts a:hover {
    text-decoration: none;
}

.footer-social {
    float: left;
    width: 400px;
    text-align: center;
}

.social-btn {
    display: inline-block;
    width: 46px;
    height: 48px;
    margin: 0 2px;
    background: #81b3d2 url("../img/sprite.png") no-repeat center;
    font-size: 0;
    text-align: center;
    text-decoration: none;
}

.social-btn:hover {
    background-color: #669ec0;
}

.social-btn-tw {
    background-position: 4px -404px;
}

.social-btn-fb {
    background-position: 6px -30px;
}

.social-btn-yt {
    background-position: 3px 8px;
}

/*.social-btn-tw:hover {
    background-position: px px;
}

.social-btn-fb:hover {
    background-position: px px;
}

.social-btn-yt:hover {
    background-position: px px;
}*/

.footer-copyright {
    float: left;
    width: 400px;
}

.footer-copyright p {
    font-size: 14px;
    line-height: 85px;
    font-weight: regular;
    font-family: "PT Sans", "Arial", sans-serif;
    text-align: right;
    width: 180px;
    display: inline-block;
    margin: 0;
}

.footer-copyright a {
    background: url("../img/html-academy.png") no-repeat center;
    display: inline-block;
    width: 113px;
    height: 39px;
    text-decoration: none;
    font-size: 0;
    text-align: right;
    margin: 0;
}

.footer-copyright .btn:hover {
    color: #8ab8d5;
    background-color: #ffffff;
}

/*Вторая страница*/
a {
    color: #000000;
}

.blurry-sedona {
    background: #ffffff url("../img/blurry-sedona.jpg") no-repeat center;
    width: 1200px;
    height: 220px;
    position: relative;
}

.filter {
    /*margin: 0 auto;*/
    position: absolute;
    top: 71px;
    left: 105px;
    color: #ffffff;
}

.filter legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif;
    text-align: left;
    margin: 0;
    padding: 0;
}

/*.filter label {
    font-size: 14px;
    line-height: 21px;
    font-weight: regular;
    font-family: "PT Sans", "Arial", sans-serif;
    text-align: left;
    margin: 0;
    padding: 0;
}*/

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    position: relative;
    padding-left: 40px;
    font-size: 14px;
    line-height: 21px; 
    font-weight: regular;
    font-family: "PT Sans", "Arial", sans-serif;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

input[type="checkbox"] + label::before {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    background: url("../img/checkbox.png") no-repeat;
    background-position: -10px -10px;
    position: absolute;
    top: 0;
    left: 0;
}

input[type="checkbox"]:checked + label::before {
    background-position: -10px -52px;
}

.infrastructure {
    float: left;
    width: 241px;
    min-height: 215px;
}

.housing {
    float: left;
    width: 287px;
    min-height: 215px;
}

.filter-range { 
    color: #ffffff;
    float: left;
    width: 330px;
    min-height: 215px;
    margin-left: 200px;
}

.filter-range-title {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;
    height: 36px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-size: 0;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price, .price-controls .max-price {
    width: 90px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px; 
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: #928381;
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;

}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;
    background: #ffffff;
}

.results{
    width: 1052px;
    min-height: 85px;
    padding-left: 72px;
    padding-right: 76px;
    background-color: #ffffff;
}

.results ul {
    float: left;
    width: 300px;
}

.results-title {
    float: left;
    width: 160px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif;
    text-align: left;
}

.results-title .quantity {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif;
}

.sorting {
    float: left;
    width: 110px;
    font-size: 12px;
    font-weight: regular;
    font-family: "PT Sans", "Arial", sans-serif;
    text-align: left;
    line-height: 18px;
}

.sorting-list li {
    float: left;
    width: 80px;
    font-size: 12px;
    font-family: "PT Sans", "Arial", sans-serif; 
    color: #e0e0e0;
    line-height: 18px;
    list-style: none;
    padding-right: 30px;
}

.sorting-list li:last-child {
    padding-right: 0;
}

.sorting-list li:hover {
    color: #81b3d2;
    border-bottom: none;
}

.sorting-list a {
    text-decoration: none;
    border-bottom: 1px dashed #e0e0e0;
}

.sorting-controls {
    float: right;
    width: 110px;
}

.arrow-ascending {
    background-image: url("../img/arrow-ascending.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 0;
    margin-left: 10px;
}

.arrow-descending-down {
    background-image: url("../img/arrow-descending-down.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 0;
}

/*.housing-items {
    margin: 0 auto;
    width: 1200px;
}*/

.housing-item {
    width: 1052px;
    min-height: 150px;
    padding-left: 72px;
    padding-right: 76px;
    background-color: #ffffff;
}

.photo {
    float: left;
    width: 135px;
    height: 90px;
} 

.housing-item-description {
    float: left;
    width: 650px;
}

.housing-item-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif; 
    text-decoration: none;
}

.housing-item-text {
    font-size: 14px;
    line-height: 21px;
    font-weight: regular;
    font-family: "PT Sans", "Arial", sans-serif; 
}

.item-btn-details {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif; 
    width: 110px;
    height: 27px;
    background-color: #81b3d2;
    color: #ffffff;
    padding: 7px 17px;
    margin-right: 7px;
    text-align: center;
    text-decoration: none;
}

.item-btn-reservations {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif; 
    width: 110px;
    height: 27px;
    background-color: #766357;
    color: #ffffff;
    padding: 7px 17px;
    text-align: center;
    text-decoration: none;
}

.housing-rating {
    float: right;
    width: 110px;
}

.rating-stars>span {
    background-image: url("../img/stars.png");
    width: 19px;
    height: 17px;
    display: inline-block;
}

.rating-text {
    font-size: 14px;
    line-height: 21px;
    font-weight: regular;
    font-family: "PT Sans", "Arial", sans-serif;
    width: 110px;
    height: 27px;
    background-color: #f2f2f2;
    color: #8b8b8b;
    text-align: center;
}